*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
color: white;
}
.card-info{
    width: 100%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color:#fff;
}
img{
    width: 100%;
    height: 700px;
}
.info-services{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    justify-items: center;
    width: 80%;
    margin: auto;
   
}
.info-services h3{
    margin-bottom: 30px;
    
}
footer{
    background-color: black;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-inner .logo{
    margin-left: 60px;
}

@media  (max-width:700px) {
    .info-services h3{
        margin-top: 20px;
        
    }
    .info-services{
        font-size: 17px;
    }
    .card-info{
        grid-template-columns: 1fr;
    }
    img{
        width: 100%;
        height: 400px;
    }
}