*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
color: white;
}
.image{
    width: 100%;
    height: 600px;
    background: url("./images/_DSC0008.jpg")no-repeat center center/cover;
}
.container{
    margin: 20px;
    
}
.text{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.text p{
    margin: 10px auto 10px;
    width: 80%;
    margin: auto;
    text-align: center;
    

}
.images img{
    width: 300px;
    height: 400px;
}
.images{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
@media screen and (max-width:800px){
    .images img{
        width: 350px;
        height: 350px;
    }
    .images{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media screen and (max-width:500px){
    .images img{
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }
    .images{
       
        margin: auto;
        display: grid;

        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
}
