*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    
    width: 100%;
    text-align: center;
    background-color:#fff;
    
}
.info{
    width: 40%;
    height: 200px;
    background-color: rgb(227, 233, 232);
    margin: 50px auto;

    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   border-radius: 6px;
   

}
p{
    width: 90%;
    font-size: large;
    color: rgb(11, 118, 218);
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 100px;
    margin-bottom: 20px;

}
i{
    color: #fff;
}
.card{
    min-height: 300px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px slategrey;
    

}
.card h1{
    margin:10px auto 20px auto;
}
.card button{
    width: 80%;
    margin: 20px auto 10px;
    height: 60px;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(9, 80, 211);
    border: 0px;
    
}


@media (max-width:700px){
    .info{
        width: 80%;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin: 0 30px;
    
    }
}


@media (max-width:500px){
    .info{
        width: 98%;
        margin: 5px auto 10px;
    }
    .container{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 30px;
        margin: 0 30px;
    
    }
}














