*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
i{
    margin-bottom: 10px;
}
body{
    width: 100%;
    
    background-color: rgb(0, 0, 0);
    
}
.container{
    width: 100%;
    
    background-color: rgb(172, 221, 221);
    
}
.hold{
    width: 100%;
    height: 400px;
    background-color: rgb(172, 221, 221);
    display: flex;
}
.hold-inner{
   /* width: 70%;*/
    margin: 100px 20px 20px 100px;
}
.hold-inner h2{
    padding-bottom: 30px;
}
img{
    height: 100%;
    width: 100%;
	-webkit-clip-path:circle(70% at 50% 50%);
	clip-path:circle(60% at 60% 50%);
}

/*Hold two*/
.hold-two{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.card1{
    margin-top: 0px;
    width: 30%;
    height: 200px;
    background-color: blueviolet;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.card2{
    width: 30%;
    height: 200px;
    background-color: rgb(43, 168, 226);
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
@media (max-width:800px) {
    .hold-inner{
         width: 50%;
         margin: 50px 20px 20px 30px;
         display: flex;
         flex-direction: column;
         
     } 
    .hold-inner p{
        display: none;
    }
    img{
        height: 100%;
        width: 100%;
        -webkit-clip-path:circle(50% at 50% 50%);
        clip-path:circle(57% at 70% 45%);
        overflow: hidden;
    }
    

}
@media (max-width:500px) {
    .hold-inner{
        width: 50%;
        margin: 50px 20px 20px 30px;
        display: flex;
        flex-direction: column;
    } 
   
   img{
       height: 100%;
       width: 100%;
       -webkit-clip-path:circle(50% at 50% 50%);
       clip-path:circle(55% at 70% 50%);
   }
   .hold-two{
       flex-direction: column;
       margin-top: 10px;
       margin-bottom: 10px;
       
   }
   .card1{
       width: 70%;
       height: 150px;
       margin-bottom: 20px;
   }
   .card2{
       width: 70%;
       height: 150px;
   }

}