*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.image{
    width: 100%;
    height: 600px;
    background: url("./images/_DSC0008.jpg")no-repeat center center/cover;
}
.contain{
    margin: 20px;
    
}
.text{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.text p{
    width: 80%;
    margin: 10px auto 10px;
    margin: auto;
    text-align: center;
    

}
.container{
    display: block;
    width: 100%;
    overflow-x: scroll;
}
.horizontal {
    margin: 20px auto;
}
.horizontal h3{
    text-align: center;
    margin-bottom: 20px;
}
.cont{
    
    display: block;
    white-space: nowrap;
}
.con{
    display: inline-block;
    margin-right: 10px;
}
.con img{
    width: 350px;
    height: 350px;
    
}

@media screen and (max-width:800px){
    .images img{
        width: 350px;
        height: 350px;
    }
    .image{
        height: 350px;
    }
}