*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:rgb(236, 219, 219);
}
h2{
    text-align: center;
    color: brown;
    font-size: 35px;
    font-family: 'Lucida Handwriting', 'Arial Narrow', Arial, sans-serif;
    
}
.container{
    display: block;
    width: 100%;
    overflow-x: scroll;
}
.horizontal {
    margin: 20px auto;
}
.horizontal h3{
    text-align: center;
    margin-bottom: 20px;
}
.cont{
    
    display: block;
    white-space: nowrap;
}
.con{
    display: inline-block;
    margin-right: 10px;
}
.con img{
    width: 350px;
    height: 350px;
    
}
