*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
color: white;;
}
h2{
    text-align: center;
    color: brown;
    font-size: 35px;
    font-family: 'Lucida Handwriting', 'Arial Narrow', Arial, sans-serif;
    
}
.container{
    display: block;
    width: 100%;
    overflow-x: scroll;
}
.horizontal {
    margin: 20px auto;
}
.horizontal h3{
    text-align: center;
    margin-bottom: 20px;
}
.cont{
    
    display: block;
    white-space: nowrap;
}
.con{
    display: inline-block;
    margin-right: 10px;
}
.con img{
    width: 350px;
    height: 350px;
    
}
footer{
    background-color: black;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-inner .logo{
    margin-left: 60px;
}
