*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.holder{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(240, 217, 188);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
}
.card-info{
    width: 80%;
    margin: auto;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(245, 241, 237);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px slategrey;
}
.card-info h3{
    text-align: center;
    margin-bottom: 20px;
}