*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.holder{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(236, 219, 219);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
}
.card-info{
    width: 80%;
    margin: auto;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(245, 241, 237);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px slategrey;
}
.card-info h3{
    text-align: center;
    margin-bottom: 20px;
}

/*creating media query*/
.card-info{
    width: 80%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(245, 241, 237);
    
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px slategrey;
}