*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*button for navigation on small screen*/
.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;


}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(8, 8, 8);
    font-size: 15px;
    line-height: 1.5;
    color: white;
    margin: 0px 20px;
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
     width:100%;
     background-color: black;
     text-transform: uppercase;
     /* max-width: 1100px; */
     margin: auto;
     margin-bottom: 15px;
}
/* nav */
.main-nav{
   /* display: flex;*/
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 20px;
    font-size: 20px;
    font-family: 'papyrus';
    
}
.main-menu{
    
    width: 100%;
    align-items: center;
    justify-content:center;
    
}
.main-nav ul {
    display: flex;
    margin-bottom: 15px;
}
.main-nav ul li{
    padding: 0 20px;
    
}
.main-nav ul li a:hover {
    
    color: rgb(250, 144, 6);
}
.main-nav ul.main-menu{
    flex:1;
    margin-left: 30px;
}
/* .logo{
    width: 80px;
    height: 100px;
    margin-top: 10px;
} */
/*style for the drop down list menu*/
.main-nav ul ul{
    display: none;
}
.main-nav ul li:hover>ul {
    position: absolute;
    margin-left: -20px;
    background-color: black;
    display: block;
}
.main-nav ul li:hover>ul a {
    color: #fff;
}

/* showcase styling*/
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    background: gray;
    border-radius: 4px;
    color: #fff;
}
.btn:hover{
    opacity: 0.8;
}
.showcase{
   width: 100%;
   height: 600px;
   background: url('./images/lwe.png')
   no-repeat center center/cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-bottom: 20px;
}
.showcase h2, p{
    margin-bottom: 10px;
}
/*MY style*/

.style h1, h2{
    text-align: center;
    margin-bottom: 10px;
}
.my-style{
    width: 80%;
    
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    
}
.my-style img{
    width: 450px;
    height: 600px;
}
.my-style video{
    width: 600px;
    height: 500px;
}
.my-style p{
    margin: auto;
    
   font-size: large;
    width: 90%;
    
}

.facebook{
    width: 100%;
    height: 50px;
    background-color: rgb(12, 12, 161);
    color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook a{
    color: #fff;
}
/* Xbox*/
.xbox{
    background: url('./images/image12.jpg') no-repeat center center/cover;
    width: 100%;
    height: 350px;
    color: #fff;
    margin-bottom: 20px;
}
.xbox .content{
    width: 400px;
    margin: 50px 20px 20px 30px;
}

.carbon{
    background: url('./images/image7.JPG') no-repeat center center/cover;
    width: 100%;
    margin-top: 20px;
    height: 350px;
}
.carbon .content{
    width: 400px; 
    padding: 100px 30px;
}

/*Follow*/
.follow{
    display: flex;
    align-items: center;
    margin: 30px 0px 30px;
}
.follow *{
    margin-left: 10px;
}


/*Footer*/
footer{
    background-color: rgb(187, 182, 182);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-inner .logo{
    margin-left: 60px;
}

/*media query for > 700px*/
@media (max-width: 700px) {
    /*display for the menu button to show when the screen is >700*/
    .menu-btn{
        display: block;
    }
    .menu-btn:hover{
        opacity: 0.5;
    }
    /*show main nav when the button bars is clicked*/
    .main-nav ul.main-menu{
        top: -100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(238, 233, 233);
        width: 80%;
        height: 100%;
        
        border-right: #fff 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;

    }
    /*style for the drop down list menu*/
    
    .main-nav ul ul{
    
    display: none;
    }
    .main-nav ul li:hover>ul {
    position: absolute;
    width: 90%;
    margin-left: -20px;
    background-color:rgb(236, 219, 219);
    
    display: block;
    }
    .main-nav ul li:hover>ul a{color: black;}
    /*MY style*/


    .my-style{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns:1fr;

    }
    .my-style img{
    width: 100%;
    height: 500px;
    }
    .my-style video{
        width: 100%;
        height: 500px;
    }
    .my-style p{
    
        margin-top: 30px;
        line-height: 25px;
    }
    .main-nav ul.main-menu.show{
        transform: translateX(-20px);
    }
    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: blue 1px solid;
        font-size: 15px;
    }


    .home-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .xbox .content{
        width: 100%;
        margin: 50px 20px 20px 10px;
        font-size: 15px;
    }
    .carbon .content{
        width: 100%;
        margin: 40px 20px 20px 10px;
    }
}


/*media query for > 700px*/
@media (max-width: 500px) {
    .main-nav ul li a{
        text-transform: uppercase;
        color: black;
    }
    .home-cards{
        grid-template-columns: 1fr;
    }
    
}