*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.picha{
    background: url("./images/car19.jpg") no-repeat center center/cover;
    height: 600px;
    width: 100%;
}
.hadithi{
    width: 100%;
     color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.hadithi p{
    margin: 20px auto;
    width: 60%;
}
.wed-info{
    width: 100%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(245, 241, 237);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px slategrey;
    
}
.wed-info .info{
    width: 80%;
    margin: auto;
}
.wed-info .info h3{
    text-align: center;
}
.wed-info .info img{
    width: 100%;
    margin-top: 20px;
    height: 400px;
}
.card-info{
    width: 90%;
    margin: auto;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(245, 241, 237);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px slategrey;
}
.card-info h3{
    text-align: center;
    margin-bottom: 20px;
}

/*creating media query*/
@media (max-width:500px){
    *{
        font-size: small;
    }
    .wed-info{
        
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    .wed-info .info{
        
        margin-bottom: 20px;
    }
    .wed-info .info img{
        width: 100%;
        margin-top: 10px;
        height: 300px;
    }
    .picha{
        height: 350px;
    }
    .hadithi{
        height: auto;
    }
    .hadithi p{
        width: 90%;

    }
    .card-info{
        width: 90%;
        margin: auto;
        display: grid;
        height: max-content;
        grid-template-columns: 1fr;
        background-color: rgb(245, 241, 237);
        
        margin-bottom: 20px;
        box-shadow: 5px 5px 5px 5px slategrey;
    }
    .info-services{
        margin-bottom: 10px 5px 20px 5px;
        text-align: center;
    }
    li{
        font-size: 15px;
        margin-left:3px;
    
    }
    ul{
        margin: 15px;
    }
}